/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Variables */
:root {
    --bg-color: white;
    --text-primary: rgb(76, 76, 76);
    --main-font: 'Gabarito', sans-serif;
    --font-size: 40%;
}

/* HTML, Body & Container etc. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}

html,
body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#container {
    width: 95vw;
    height: 100vh;
    overflow-y: scroll;
}

label,
small {
    color: var(--text-primary);
}

label {
    position: relative;
    left: 5px;
}

a {
    text-decoration: none;
    color: rgb(19, 19, 95);
}

a:hover {
    text-decoration: underline;
}


/* Main */

#contact-icons {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap: 1%;
}

#contact-icons a {
    color: var(--text-primary);
    transition: .2s;
}

#contact-icons a:hover {
    opacity: .8;
    transition: .2s;
}

.containers {
    width: 100%;
    height: 100%;
    padding-inline: 15%;
    padding-block: 2.5%;
}

.containers:nth-child(even) {
    background-color: whitesmoke;
}

.containers:nth-child(odd) {
    background-color: white;
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
    cursor: default;
}

#intro {
    align-self: flex-start;
}

#intro p {
    font-size: 30px;
}

#my-name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--text-primary);
    width: 100%;
}

#my-name p {
    font-size: 170px;
}

#my-name p:nth-child(2) {
    text-align: right;
}

#my-name p span {
    position: relative;
    bottom: 0px;
    opacity: 1;
    transition: .2s;
}

#my-name p span:hover {
    bottom: 20px;
    opacity: .8;
    transition: .2s;
}

#title p {
    font-family: 'Staatliches', sans-serif;
    font-size: 70px;
    color: var(--text-primary);
    letter-spacing: 1px;
    text-align: center;
}

#introduction small {
    position: relative;
    top: 5%;
    font-size: larger;
    width: 50%;
    letter-spacing: .2px;
    line-height: 25px;
    text-align: left;
}


#portfolio {
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
}

.header-title {
    width: 100%;
    height: 12.5%;
    text-align: center;
    color: var(--text-primary);
}

.header-title h1 {
    font-size: 60px;
}

.header-title small {
    font-size: large;
}

.container-content {
    height: 87.5%;
    width: 100%;
    display: flex;
    align-items: center;
}

#projects {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-auto-rows: 21vw;
    grid-template-columns: repeat(3, 20vw);
    gap: 15px;
    overflow-y: auto;
    padding: 1%;
}

.projects {
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-img {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.to-project{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1;
    opacity: 0;
    background-color: rgba(220, 20, 60, 0.544);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.to-project p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.to-project:hover{
    opacity: 1;
    transition: .2s;
    text-decoration: none;
}

.project-img img {
    width: 100%;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: auto;
}

/* .project-context h2{
    color: rgb(194, 39, 70);
} */

.project-context {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    z-index: 2;
    letter-spacing: .2px;
}

.about-project {
    padding: 5%;
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
}


#information {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#about-me-context {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 10%;
    gap: 5%;
}

#about-me-context div {
    width: 50%;
}

#about-me p {
    font-size: large;
    color: var(--text-primary);
}


.form-div {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 90%;
    gap: 5%;
}

.form-div:nth-child(3) {
    height: 25%;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
}

.input-div {
    height: 100%;
    display: flex;
    border: 1px solid lightgray;
    overflow: hidden;
}

.input-div div {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
    border-right: 1px solid lightgray;

}

.input-div i {
    font-size: x-large;
    color: rgb(122, 122, 122);
}

input,
textarea,
button {
    outline: none;
    border: 0;
}

input,
textarea {
    padding: 1%;
    width: 100%;
    height: 100%;
    font-size: medium;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.input-div,
textarea,
button {
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    width: 15%;
    height: 50%;
    cursor: pointer;
    background-color: white;
}

footer {
    width: 100%;
    background-color: var(--bg-color);
    padding: 7px;
    text-align: center;
    letter-spacing: .2px;
    font-size: 13px;
}


@media screen and (max-width: 1232px) {
    #introduction small{
        width: 100%;
    }

    #projects{
        grid-template-columns: repeat(2, 30vw);
        grid-auto-rows: 25vw;
    }

    #contact-icons{
        width: 7vw;
    }
}

@media screen and (max-width: 1070px) {
    #about-me-context{
        flex-direction: column;
    }

    #about-me-context div{
        width: 100%;
    }

    #title p{
        font-size: 60px;
    }
}

@media screen and (max-width: 923px) {
    #my-name p{
        font-size: 150px;
        text-align: left !important;
    }

    #projects{
        grid-auto-rows: 30vw;
    }
}

@media screen and (max-width: 905px) {
    #title p{
        font-size: 50px;
    }

    #contact-icons{
        width: 8vw;
    }

    button{
        width: 25%;
    }
}

@media screen and (max-width: 850px) {
    #my-name p{
        font-size: 130px;
    }
    
    #portfolio{
        padding-inline: 5%;
    }

    #projects{
        grid-template-columns: repeat(2, 35vw);
        grid-auto-rows: 35vw;
    }
}

@media screen and (max-width: 700px) {
    #introduction{
        padding-inline: 10%;
    }

    #title p{
        font-size: 40px;
        text-align: left;
    }

    #projects{
        grid-auto-rows: 40vw;
    }

    .about-project h2{
        font-size: 20px;
    }

    #contact-icons{
        width: 10vw;
    }

    #contact,#about-me{
        padding-inline: 5%;
    }
}

@media screen and (max-width: 630px) {
    #introduction{
        padding-inline: 5%;
    }

    #projects{
        grid-template-columns: 100%;
        grid-auto-rows: 70vw;
    }

    .about-project h2{
        font-size: 30px;
    }

    .about-project small{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    #my-name p{
        font-size: 100px;
    }

    #contact-icons{
        font-size: 35px;
    }

    .header-title h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    #container{
        width: 100vw;
    }
    
    #contact-icons{
        display: none;
    }
}